{% extends 'base.html' %}
{% load static %}

{% block content %}

<h2>{{ product.name }}</h2>
<div class="row">
    {% for product in products %}
    {% if product.category_id == category.id %}
        <div class="col-md-4">
                <div class="card mb-2">
                    <div class="card-body">
                        <a href="{% url 'store_product' %}"><h5 class="card-title">{{ product.name }}</h5></a>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text">Size: {{ product.size }}</p>
                        <p class="card-text">Price: ¥{{ product.price }}</p>
                    </div>
                </div>
            </div>
    {% endif %}
    {% endfor %}
</div>
</div>
</main>
{% endblock %}